// Breakpoints
$mobile-lower-breakpoint: 320px;
$mobile-upper-breakpoint: 425px;
$tablet-lower-breakpoint: 600px;
$tablet-upper-breakpoint: 768px;
$desktop-lower-breakpoint: 1024px;
$desktop-upper-breakpoint: 1440px;

// Max and Min Width
$crush-container-max-width: 1280px;
$crush-container-min-width: 300px;

.crush-container {
  width: 100%;
  max-width: $crush-container-max-width;
  min-width: $crush-container-min-width;
  margin: auto;
}